/* style.css
 * This file provides css styles.
 */

img {
	width:100%;
}

body {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
	padding: 0;
	margin: 0;
	background-color: #F1F1F1 !important;
}

/* header footer common */
#locationone, h1 {
	text-align: left;

}



.ui-header{
	margin-top: 5%;
	width: 100%;
	text-align: center;
	background-color: #CCCCCC !important;
}

.ui-footer{
	height: 10%;
	width: 100%;
	margin: auto;
	text-align: center;
}

/* content width */
.title, .tips, section{
	width: 600px;
}

@media (max-width: 600px){
	.title, .tips, section{
		width: 100%;
	}
}

/* alignment */
.title, .tips, section {
	margin: 0 auto;
}

/* foreground color */
.title, .tips {
	background-color: #aaa;
}
td {
	 border-bottom: 1px solid #aaa;
}
/* background color */
table {
	background-color: #fff;
}

/* positions */
header {
	padding-top: 20px;
	font-weight: bolder;
	font-size: 1.3em;
}
footer {
	position: relative;
}
.title, .tips {
	height: 30px;
	padding-top: 10px;
	position: relative;
}
.title {
	border-radius: 10px 10px 0 0;
}
.tips {
	border-radius: 0 0 10px 10px;
}

table {
	table-layout: fixed;
	word-wrap: break-word;
	position: relative;
	border-collapse: collapse;
	width: 100%;
}
.content {
	padding: 5px;
	width: 100%;
}
.content textarea {
	height: 1.2em;
	font-size: 1em;
	resize: none;
	width: 100%;
	border: none;
	background-color: transparent;
}

/* buttons */
.ui-btn, .ui-btn:hover {
	border:none;
	background:none;
}

.detailBtn {
	position: absolute;
	left: 20px;
	top: 10px;
	background: none;
	border: none;
	cursor: pointer;
}
.addBtn {
	position: absolute;
	right: 20px;
	top: 10px;
	background: none;
	border: none;
	cursor: pointer;
}
.detailBtn img,
.addBtn img {
	width: 20px;
	height: 20px;
}
.deleteBtn {
	position: absolute;
	right: 0;
	width: 20px;
	height: 1.2em;
	padding: 5px;
	border-color: transparent;
}

/* dynamic effect */
tr:hover .deleteBtn {
	background: url('images/remove.png') no-repeat 5px 8px;
	cursor: pointer;
}
tr:hover .content {
	background-color: #DDF2F9;
}

#dbserviceinfo {
	border-top: 1px solid #fff;
}
#dbserviceinfo td {
	background-color: #aaa;
	padding: 5px;
	color: #fff;
}
.fieldname {
	text-align: right;
	border-right: 1px solid #fff;
}

#banner{
	color: ;
	background-color: #f2f2f2 !important;
	text-align: center;
}

h1{
	/*text-align: center;*/
}

.ui-page.ui-page-theme-a.ui-page-active
{
	/*background-color:#CCCCCC;*/
}

.ui-body{
	/*background-color: #CCCCCC;*/
}

/**#logo{
	height: 50px !important;
}

#Mainlogo{
	height: 150px !important;
}*/


.ui-footer img {
    width: 30%;
    height: auto;
}

#banner img{
	height: auto;
	width: 70%;
}

#sllogo,#nalogo,#trove,#landgate{
	width: 300px;
	height: auto;
}
